:root {
    --color-background-red: #EF2200;
    --color-background-orange: #FE9E00;
    --color-background-yellow: #FFEF00;
    --color-background-green: #008F2E;
    --color-background-blue: #0068FD;
    --color-background-purple: #89209A;
    font-size: 100%; /* controle das medidas rem */
}

body{
    font-family: Poppins;
}

  
.menu{
  background-color: whitesmoke; /*deixa o fundo branco da parte menu*/
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;  
}

.menu a{
display: block; 
padding: 10px 20px;  
}

.menu a:active,
.menu a:hover{
  text-decoration: none; 
  text-shadow: 0px 0px 50px;
}

.menu li{
  list-style: none; /*tira o estilo de lista das palavras da classe menu*/
}

.menu ul{
  display: flex; 
  justify-content: space-around;
}

a{
  color: black; /*alterar a cor do texto do menu*/
  text-decoration: none; /*tira o underline do texto*/
  font-family: 'Poppins', 
}

a:hover{
  text-decoration: underline; /*coloca underline quando passamos o mouse por cima*/
}